/******************** TAG SELECTORS ********************/
body{
    background-image: url("background.jpg");
    background-color: rgb(139, 207, 207);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white
}
hr{
    border-style: dotted none none;
    border-color: rgb(144, 165, 135);
    border-width: 5px;
    width: 30%;
}




/******************** CLASS SELECTORS ********************/

/*
.classname{}
*/

.first_heading{
    margin-bottom: 30px;
}

.heading{
    text-align: center;
    color:rgb(208, 248, 149)
}

.profile{ 
    width: 180px;
    height: 180px;
}
/*first class of img profile.jpg*/

.photo{
    border-radius: 100%;
}
/*second class of img profile.jpg*/




/******************** ID SELECTORS ********************/

/*
#IdName{}
ID should be unique, but class doesn't matter.
*/

#robot-pic{
    position:relative;
    left: 520px;
    margin-bottom: 20px;
}

#robot-text{
    position:absolute;
    top: 250px;
    left: 640px;
}

#education{
    position: relative;
    left: 580px;
}

#skills{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

#hobbies{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}



/*ID selectors and CLASS selectors can overwrite TAG selectors
  and ID is more specific
*/